.game-container {
    position: relative;

    width: 1200px;
    height: 624px;
    overflow: hidden;

    margin: 10px auto;
    border: 1px solid black;
}

.game-background {
    position: absolute;
    top: 0;

    width: 1400px;
    height: 512px;

    background-image: url("../assets/images/background/background-day.png");
}

.game-ground {
    position: absolute;
    bottom: 0;

    width: 1200px;
    height: 112px;

    background-image: url("../assets/images/background/base.png");
}

.welcome-screen {
    position: absolute;
    top: 0;

    width: 1200px;
    height: 624px;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.8);
}

#high-score {
    color: white;
    margin: 20px;

    font-family: monospace;
    font-size: 50px;

    text-shadow: 4px 4px #131313;
}

.welcome-message-container {
    margin: 90px 30px;
}

.start-game-message {
    color: white;

    font-family: monospace;
    font-size: 30px;
}

.game-info {
    color: #e0e0e0;
    font-family: monospace;
}

.canvas {
    position: absolute;
    top: 0;

    width: 1200px;
    height: 512px;
}
