.container {
    width: 1000px;
    margin: 0 auto;
}

.game-container {
    position: relative;

    float: left;
    width: 480px;
    height: 512px;
    overflow: hidden;

    margin: 10px 10px;
}

.game-background {
    position: absolute;
    top: 0;

    width: 800px;
    height: 512px;

    background-image: url("../assets/images/background/background-day.png");
}

.game-ground {
    position: absolute;
    bottom: 0;

    width: 1000px;
    height: 112px;

    background-image: url("../assets/images/background/base.png");
}

.screen {
    position: absolute;
    top: 0;

    width: 480px;
    height: 512px;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.8);
}

.game-over-screen {
    display: none;
}


.broke-high-score {
    color: white;
    margin: 20px;

    font-family: monospace;
    font-size: 30px;
    text-align: center;

    display: none;
}

.display-score {
    position: absolute;
    width: 480px;

    color: white;
    font-family: monospace;
    font-size: 50px;
    text-align: center;

    text-shadow: 4px 4px #131313;
}

.current-score {
    display: none;
}

.welcome-message-container {
    margin: 90px 30px;
}

.start-game-message {
    color: white;

    font-family: monospace;
    font-size: 30px;
}

.play-again-message {
    margin: 50px 0;
}

.game-info {
    color: #e0e0e0;
    font-family: monospace;
}

.canvas {
    position: absolute;
    top: 0;

    width: 480px;
    height: 400px;
}
